.application-form
  background: $body_bg
  padding: 100px 0

  .title
    text-align: center
    margin-bottom: 58px

.form-wrapper
  background: #FFFFFF
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25)
  border-radius: 10px
  margin-bottom: 30px

  .form-header
    text-align: center
    background: $light-grey
    padding: 21px 0 16px
    border-radius: 10px 10px 0 0

  .form-header--sub
    display: flex
    padding-right: 295px
    border-bottom: 1px solid $light-grey
    .subtitle
      font-size: 18px
      line-height: 22px
      text-align: center
      width: 100%
      align-self: center
    .green-rect
      display: inline-block
      height: 100%
      width: 295px
      background: $green
      min-height: 50px

  .form
    padding: 86px 147px 100px

    .row
      align-items: flex-start
      margin-bottom: 40px
      &.row--amount
        margin-bottom: 74px
      &.row--fio
        margin-bottom: 20px
      &.row--contact
        margin-bottom: 100px
      &:last-child
        margin-bottom: 0

    .label
      font-size: 32px
      line-height: 38px
      font-family: $font-Exo2-Bold

  .range-wrapper
    padding-top: 10px
    color: $fontColorMain

.form-footer
  border-top: 1px solid $light-grey
  padding: 30px 147px

  .bubbly-button
    width: 100%
    box-shadow: none
  .form__footer-text
    font-size: 18px
    line-height: 29px

.step[data-step-num="2"],
.step[data-step-num="3"],
.step[data-step-num="4"]
  display: none

  h4.title
    text-align: left
    margin-bottom: 40px

  .row--passport
    margin-bottom: 20px
    &:last-child
      margin-bottom: 50px

.form-footer [data-step-num="2"]
  display: none
  .form__footer-text
    text-align: center

  .goback
    font-size: 24px
    line-height: 38px
    font-family: $font-Exo2-Medium
    color: $dark-grey
    text-decoration: none
    border-bottom: 1px solid $dark-grey

.step[data-step-num="4"]
  .row
    margin-bottom: 24px

  .data-col
    padding-left: 0
    font-size: 18px
    line-height: 29px
    font-weight: 300

.text--right
  text-align: right
  padding-left: 0

.datacheck
  display: inline-block
  width: 14px
  height: 14px
  margin-left: 7px
  background:
    color: #80bdff
    repeat: no-repeat
    size: contain
    position: center

  &.datacheck--ok
    background:
      color: transparent
      image: url("../images/icons/ic-datacheck-ok.svg")

  &.datacheck--err
    background:
      color: transparent
      image: url("../images/icons/ic-datacheck-err.svg")

.tmpBlock
  display: inline-block
  background: #f5f8f9
  width: 100%
  min-height: 70px
  border-radius: 4px
  border: 1px solid #B7B5B3