.feedback-block
  width: 100%
  padding-top: 50px
  padding-bottom: 0px
  +laptop-down
    padding: 0
  .container
    max-width: 1530px
    padding: 0 40px
    +laptop-down
      min-width: 700px
      padding: 20px 40px
    +tablet-down
      min-width: 310px
      padding: 20px 10px
  .col-md-5
    padding: 0

  .title
    letter-spacing: 0

  .paragrfaph
    width: 100%
    margin-bottom: 0
    line-height: 1.66
    flex-wrap: wrap
    word-break: break-all
    +laptop-down
      line-height: 1.5
      letter-spacing: -1px
  .bold
    line-height: 1.66

  .form-control-label
    width: 100%
    margin-bottom: 20px
    +tablet-down
      margin-bottom: 10px
      
  textarea
    resize: none

  &__head
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    +laptop-down
      flex-direction: row
      justify-content: space-between
      margin-bottom: 0px
    +tablet-down
      align-items: flex-end

  &__content
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    font-family: $font-Exo2-Light
    font-size: 18px
    width: 100%
    margin-top: 48px
    +laptop-down
      margin-top: 20px
    +tablet-down
      margin-top: 30px

  &__row
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    width: 100%
    margin-bottom: 40px
    +laptop-down
      margin-bottom: 20px
    +tablet-down
      flex-direction: column
      margin-bottom: 15px

  .inside_row
    margin-bottom: 0px
    justify-content: space-between
    +laptop-down
      flex-direction: column
      width: 100%

  &__col
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin-right: 25px
    +laptop-down
      margin-right: 65px
    +tablet-down
      margin-right: 0
      margin-bottom: 15px
    &:last-child
      margin-right: 0
      margin-bottom: 0

  &__fields
    width: 48%
    +laptop-down
      width: 100%
    +tablet-down
      width: 100%
