.my-form
  padding-bottom: 60px
  +laptop-down
    padding: calc(20px + #{$header_h_mob}) 0px 15px
  +tablet-down
    padding-top: calc(40px + #{$header_h_mob})
    padding-bottom: 0px

  .form-wrapper
    margin: 0px 15px 40px
    +laptop-down
      margin: 0px 0px 25px
    +tablet-down
      margin-bottom: 40px

  .form-wrapper .form-header
    +laptop-down
      padding: 21px 0 20px

  .wrapper
    flex-direction: column
    padding: 0px

  .offer-cond
    +laptop-down
      margin-bottom: 24px
    +tablet-down
      margin-bottom: 14px

  .offer-bl
    &:last-child, &:nth-last-child(2)
      margin-bottom: 27px





.nav-tabs
  justify-content: space-between
  padding: 0 120px 0 85px
  +laptop-down
    padding: 0 25px
  +tablet-down
    flex-direction: column
    align-items: center
    padding: 0

  .nav-item
    +tablet-down
      width: 100%
      text-align: center
  .nav-link
    font-size: 18px
    line-height: 22px
    color: inherit
    padding: 13px 0px
    border-radius: 0px
    +laptop-down
      padding: 18px 0px 3px
    +tablet-down
      padding: 30px 0px 30px
      border-bottom-color: $light-grey
    &:hover, &:focus
      border-color: transparent

  .nav-item.show .nav-link, .nav-link.active
    color: $green
    border-color: transparent transparent $green
    border-bottom-width: 2px
    font-weight: bold
    +tablet-down
      border-bottom-width: 1px
      border-bottom-color: $light-grey
      border-top-color: $light-grey

.tab-pane
  position: relative
  &__in
    padding: 50px $tab_pane_pl 38px
    +laptop-down
      padding: 35px 60px 38px
    +tablet-down
      padding: 30px 20px 30px
      display: flex
      flex-direction: column
      align-items: center

  .title
    text-align: left
    margin-bottom: 25px
    +laptop-down
      font-size: 26px
      line-height: 31px
      margin-bottom: 20px
    +tablet-down
      font-size: 24px
      line-height: 29px
      text-align: center
      margin-bottom: 30px
      //order: 0
  .company-name
    margin-bottom: 35px
    +laptop-down
      margin-bottom: 22px
    +tablet-down
      margin-bottom: 30px
  .sum
    position: absolute
    right: $tab_pane_pl
    bottom: 0px
    height: 100%
    display: flex
    align-items: center
    +laptop-down
      right: 60px
      bottom: -44px
    +tablet-down
      order: 3
      position: static
      margin-bottom: 30px
  .btn
    +laptop-down
      padding: 20px 40px
    +tablet-down
      order: 4
      padding: 15px 18px

.company-name
  color: $green
  font-size: 24px
  line-height: 29px
  font-family: $font-Exo2-Bold
  +laptop-down
    font-size: 22px
    line-height: 26px
  +tablet-down
    font-size: 18px
    line-height: 22px


.sum
  color: $green
  font-size: 56px
  line-height: 67px
  font-family: $font-Exo2-Bold
  +laptop-down
    font-size: 56px
    line-height: 67px

.my-scoring
  .tab-pane__in
    display: flex
    justify-content: center
    align-items: center
    min-height: 755px
    +laptop-down
      min-height: 534px
    +phonemin-down
      min-height: auto
  h2.title
    margin-bottom: 130px
    +laptop-down
      margin-bottom: 88px
    +tablet-down
      margin-bottom: 0px

.settings
  .tab-pane__in
    padding-right: 450px
    min-height: 950px
    +laptop_1-down
      padding-right: 150px
    +laptop-down
      padding-left: 60px
      padding-right: 60px
      padding-top: 38px
      min-height: 716px
    +tablet-down
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 0
      padding-top: 30px
  &__top
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    +laptop-down
      flex-wrap: wrap
      padding-right: 20px
    +tablet-down
      padding-right: 0px
      flex-direction: column
      width: 100%
      margin-bottom: 30px

    .title
      +laptop-down
        margin-bottom: 10px
      +tablet-down
        margin-bottom: 20px

  &__bottom
    +tablet-down
      width: 100%
    .title
      margin-bottom: 15px

.tab-pane.active
  animation: slide-down 0.2s ease-out

@keyframes slide-down 
  0%
    opacity: 0
    transform: translateY(0.2rem)
  100%
    opacity: 1
    transform: translateY(0)

.card-info
  display: flex
  flex-direction: column
  font-size: 24px
  line-height: 29px
  font-family: $font-Exo2-Bold
  +laptop-down
    order: 2
    font-size: 22px
    line-height: 26px
  +tablet-down
    order: unset

  &__num
    color: $green
    font-size: 24px
    line-height: 29px
    +laptop-down
      font-size: 22px
      line-height: 26px

.link-download
  font-family: $font-Exo2-Bold
  color: $green
  text-decoration: underline
  &:hover
    color: $green

.btn-untie
  color: $red
  position: relative
  padding: 0px!important
  margin-left: -87px
  min-width: 150px
  +laptop-down
    margin-left: 10px
  &:hover
    color: $red
    opacity: 0.7
  &:before
    content: ''
    position: absolute
    top: 6px
    left: -10px
    +bg-image(24px, 24px, transparent, "../images/icons/ic-signs.png", contain)

.btn-untie-wrap
  align-self: flex-end
  +laptop-down
    width: 100%
    order: 3
    margin: 10px 0px 5px
  +tablet-down
    order: unset
    margin: 19px 0px 26px

.payment
  display: flex
  justify-content: space-between
  font-size: 18px
  padding: 20px 0px 16px
  +laptop-down
    font-size: 14px
    padding: 6px 0px 2px
  +tablet-down
    flex-direction: column
    font-size: 18px
    padding: 11px 0px 22px

  &-wrap
    display: flex
    flex-direction: column
    +tablet-down
      padding: 0 37px 0 3px
  &__date
    font-family: $font-Exo2-Bold
    margin-right: 40px
    +laptop-down
      margin-right: 33px
    +tablet-down
      margin-right: 47px
      margin-bottom: 10px
  &__time
    font-family: $font-Exo2-Bold
  &__num
    margin-left: 30px
    +laptop-down
      margin-left: 0px
    +tablet-down
      margin-bottom: 10px
  &__sum
    margin-right: 68px
    +laptop-down
      margin-left: 37px
      margin-right: 11px
    +tablet-down
      margin-left: 0px
  &__link
    +tablet-down
      margin-left: auto

.personal-data
  .tab-pane__in
    +tablet-down
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 11px
  .check-data
    h4.title
      +tablet-down
        text-align: center
    .check-row
      +tablet-down
        margin-bottom: 17px