.reviews-block
  padding: 50px 236px 40px
  background: $dark-grey
  color: #ffffff
  +laptop-down
    padding: 20px 0 40px

  .container
    +laptop-down
      padding-left: 0
      padding-right: 0
  
  .title
    width: 100%
    text-align: center
    margin-bottom: 50px
    color: #ffffff
    +tablet-down
      padding: 0 10px
      margin-bottom: 31px
    +laptop-down
      font-size: 26px
      line-height: 31px
      margin-bottom: 19px

.review__image
  margin: 0 auto
  width: 150px
  height: 150px
  overflow: hidden
  border-radius: 50%
  margin-bottom: 50px
  +laptop-down
    width: 110px
    height: 110px
    margin-bottom: 20px

  img
    height: 100%

.review__info
  text-align: center

  .review-text
    font-size: 18px
    line-height: 29px
    margin-bottom: 30px
    +tablet-down
      margin-bottom: 43px
    +laptop-down
      font-size: 14px
      line-height: 22px
      margin-bottom: 23px

  .review-name
    margin-bottom: 15px
    font-weight: bold
    +laptop-down
      font-size: 20px
      margin-bottom: 0

  .review-city
    +laptop-down
      font-size: 14px

.tns-outer
  position: relative
.tns-controls button
  z-index: 10
  border: none
  color: transparent
  position: absolute
  top: 150px
  left: 106%
  background:
    color: transparent
    image: url("../images/icons/ic-arrow-green.svg")
    repeat: no-repeat
    position: center
  width: 60px
  height: 120px
  +laptop-down
    width: 64px
    height: 69px
    left: 89%
    top: 20px
  &:first-child
    transform: rotate(180deg)
    left: -142px
    +laptop-down
      left: 12px
