@font-face
  font-family: "Exo-Light"
  font-style: normal
  font-weight: normal
  src: local('Exo-Light'), url("../fonts/Exo-Light/Exo-Light.woff") format("woff"), url("../fonts/Exo-Light/Exo-Light.woff2") format("woff2"), url("../fonts/Exo-Light/Exo-Light.ttf") format("ttf"), url("../fonts/Exo-Light/Exo-Light.eot") format("eot")

@font-face
  font-family: "Exo2-Regular"
  font-style: normal
  font-weight: normal
  src: local('Exo2-Regular'), url("../fonts/Exo2-Regular/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular/Exo2-Regular.ttf") format("ttf"), url("../fonts/Exo2-Regular/Exo2-Regular.eot") format("eot")

@font-face
  font-family: "Exo2-Light"
  font-style: normal
  font-weight: normal
  src: local('Exo2-Light'), url("../fonts/Exo2-Light/Exo2-Light.woff") format("woff"), url("../fonts/Exo2-Light/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light/Exo2-Light.ttf") format("ttf"), url("../fonts/Exo2-Light/Exo2-Light.eot") format("eot")

@font-face
  font-family: "Exo2-Bold"
  font-style: normal
  font-weight: normal
  src: local('Exo2-Bold'), url("../fonts/Exo2-Bold/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2-Bold/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold/Exo2-Bold.ttf") format("ttf"), url("../fonts/Exo2-Light/Exo2-Bold.eot") format("eot")

@font-face
  font-family: "Exo2-Medium"
  font-style: normal
  font-weight: normal
  src: local('Exo2-Medium'), url("../fonts/Exo2-Medium/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium/Exo2-Medium.ttf") format("ttf"), url("../fonts/Exo2-Medium/Exo2-Medium.eot") format("eot")

@font-face
  font-family: "Exo2-SemiBold"
  font-style: normal
  font-weight: normal
  src: local('Exo2-SemiBold'), url("../fonts/Exo2-SemiBold/Exo2-SemiBold.woff") format("woff"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold.ttf") format("ttf"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold.eot") format("eot")

@font-face
  font-family: "Exo2-Thin"
  font-style: normal
  font-weight: normal
  src: local('Exo2-Thin'), url("../fonts/Exo2-Thin/Exo2-Thin.woff") format("woff"), url("../fonts/Exo2-Thin/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo2-Thin/Exo2-Thin.ttf") format("ttf"), url("../fonts/Exo2-Thin/Exo2-Thin.eot") format("eot")
