*
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $font-Exo2-Light
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: 1
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	//background-color: $body_bg
	+tablet
		font-size: $fontSize_body_tablet

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	+tablet
		font-size: $fontSize_h1_tablet
h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	+tablet
		font-size: $fontSize_h2_tablet

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3
	// +tablet
	// 	font-size: $fontSize_h3_tablet

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4
	// +tablet
		//font-size: $fontSize_h4_tablet

.container
	+laptop
		max-width: 1230px
		padding-left: 30px
		padding-right: 30px

.title
	color: $fontColorMain
	font-family: $font-Exo2-Bold

.bold
	font-family: $font-Exo2-Semibold
	font-weight: 600
	font-size: 18px
	line-height: 1.22

.link
  text-decoration: none
  text-decoration-line: underline
  color: $green
  font-family: $font-Exo2-Semibold
  font-weight: bold
  font-size: 18px
  line-height: 1.6

.link__light
	font-family: $font-Exo2-Light
  font-weight: 300
  font-size: 16px
  line-height: 1.19

.title__white
	color: #FFFFFF

.bg-dark
	background-color: $dark-grey
	color: $white

.bg-light
	background-color: $body_bg
	color: $dark-grey

.paragrfaph
	display: flex
	width: 100%
	text-align: left
	margin-bottom: 30px
	line-height: 1.645
	&:last-child
		margin-bottom: 0
