*
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $font-Exo2-Light
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: 1
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	+tablet
		font-size: $fontSize_body_tablet

h1, h2, h3, h4, h6, p, ul
	margin: 0px
	padding: 0px

a
	&:hover, &:visited
		text-decoration: none

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	+tablet-down
		font-size: $fontSize_h1_tablet
h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	+tablet-down
		font-size: $fontSize_h2_tablet

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3
	+laptop-down
		font-size: $fontSize_h3_tablet

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4
	// +tablet
		//font-size: $fontSize_h4_tablet

.container
	margin: 0 auto
	+laptop
		max-width: 1510px
	+phonemin-down
		padding-left: 10px
		padding-right: 10px


.title
	color: $fontColorMain
	font-family: $font-Exo2-Bold

.bold
	font-family: $font-Exo2-Semibold
	font-weight: 600
	font-size: 18px
	line-height: 1.22

.link
  text-decoration: none
  text-decoration-line: underline
  color: $green
  font-family: $font-Exo2-Semibold
  font-weight: bold
  font-size: 18px
  line-height: 1.6

.link__light
	font-family: $font-Exo2-Light
  font-weight: 300
  font-size: 16px
  line-height: 1.19

.title__white
	color: #FFFFFF

.bg-darkgrey
	background-color: $dark-grey
	color: $white

.bg-lightgrey
	background-color: $body_bg
	color: $dark-grey

.paragrfaph
	display: flex
	width: 100%
	text-align: left
	margin-bottom: 30px
	line-height: 1.645
	&:last-child
		margin-bottom: 0
	&__nospace
		margin-bottom: 0!important

.menu
	list-style: none
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	//background-color: green
.menu_item
	margin: 0 50px 0 0
.menu_link
	text-decoration: none
	color: #FFFFFF
	font-family: $font-Exo2-Medium
	font-size: 18px
	padding: 15px 0px


.gradient-bg
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
	background-size: 400% 400%
	animation: gradient 15s ease infinite

@keyframes gradient
	0%
		background-position: 0% 50%

	50%
		background-position: 100% 50%

	100%
		background-position: 0% 50%

.small-text
	font-family: "Exo2-Medium", Arial, sans-serif
	font-size: 14px
	line-height: 17px

.btn
	background: $green

.btn-close
	+bg-image(41px, 28px, transparent, "../images/icons/ic-union.png", contain)

.btn-gamburg
	+bg-image(41px, 28px, transparent, "../images/icons/ic-gamburg.png", contain)


.contacts
	&__phone
		letter-spacing: 1px

.logo
	display: flex
	width: 270px
	height: 72px
	+laptop-down
		width: 180px
		height: 28px
	&__link
		display: flex
	&__img
		width: 100%
		height: auto
