//general font
$fontSize_body: 18px
$fontSize_body_tablet: 16px

$fontColorMain: #3E3C42

$font-Exo2-Light: 'Exo2-Light', Arial, sans-serif
$font-Exo2-Medium: 'Exo2-Medium', Arial, sans-serif
$font-Exo2-Bold: 'Exo2-Bold', Arial, sans-serif
$font-Exo2-Semibold: 'Exo2-Semibold', Arial, sans-serif

//general color
$body_bg: #EAE6E1
$grey: #B7B5B3
$green: #1FC935
$dark-grey: #333333
$red: #EB194A

$dark-grey: #3E3C42
$white: #FFFFFF

//h1, h2
$fontSize_h1: 93px
$lineHeight_h1: 1.2
$fontSize_h1_tablet: 60px
$lineHeight_h1_tablet: 1.2

$fontSize_h2: 48px
$lineHeight_h2: 1.2
$fontSize_h2_tablet: 28px
$lineHeight_h2_tablet: 1.2

$fontSize_h3: 36px
$lineHeight_h3: 1.2
$fontSize_h3_tablet: 22px
$lineHeight_h3_tablet: 1.2

$fontSize_h4: 32px
$lineHeight_h4: 1.2
$fontSize_h4_tablet: 26px
$lineHeight_h4_tablet: 1.2
