//general font
$fontSize_body: 18px
$lineHeight_body: 160%

$fontColorMain: #3E3C42

$font-Exo2-Light: 'Exo2-Light', Arial, sans-serif
$font-Exo2-Medium: 'Exo2-Medium', Arial, sans-serif
$font-Exo2-Bold: 'Exo2-Bold', Arial, sans-serif
$font-Exo2-Semibold: 'Exo2-Semibold', Arial, sans-serif

//general color
$body_bg: #EAE6E1
$grey: #B7B5B3
$green: #1FC935
$dark-grey: #333333
$red: #EB194A

//h1, h2
$fontSize_h1: 40px
$lineHeight_h1: 1


$fontSize_h2: 30px
$lineHeight_h2: 1

$fontSize_h3: 20px
$lineHeight_h3: 1

$fontSize_h4: 18px
$lineHeight_h4: 1.2
